.grid {
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". .";
}

.presidentList {
    background-color: black;
}

.presidentDetail {
    background-color: blue;
}